        body{
            font-family:tahoma
            }
        
        /* html has 0 padding and margin to ensure header fit's fully across*/
        html{ padding:0;
            margin:0;
            }
        /* body has 0 padding and margin to ensure header fit's fully across
            using a linear gradient to provide a backdrop going from white to grey
            background-attachment: fixed; is used to stretch body across window size, otherwise the gradient repeats 
            at the end of the elements within body*/
        body{ padding:0;
            margin:0;
            background-image: linear-gradient(lightgrey, grey);
            background-attachment: fixed;
            }


        /*Border box sizing is telling the various elements to account for border and padding when setting width and height*/
        * {box-sizing: border-box}

        /* headerDiv class - div for pages header, scrolls down with  */
        .headerDiv{
            background: #98c794;
            color: white;
            font-size: 30px;
            width: 100%;
            height:10%;
            display: flex;
            position:sticky;
            top:0;
            vertical-align: top;
            }
        
        .headerDiv div{
            display: inline-block;
        }

        #logoImg{
            width:100%;
            margin:0px;
            padding:0px;
            display: block;
            opacity: 80%;
            box-shadow: black;

        }

        #logoImg:hover{
            opacity: 100%;
        }

        #logoDiv{
            align-content: left;
        }

        #headerDivRight{
            width: 92%;
            text-align: right;
            overflow: hidden;
            vertical-align: top;
        }


        #headerDivLeft{
            width: 8%;
            vertical-align: bottom;
        }
        

        /* headerP class - has 0 padding and margin to ensure header fit's fully across*/
        .headerP{
            padding:0;
            margin:0;
            }
        /* maindDiv class- div for containing rest of html page elements*/
        .mainDiv{
            margin:5px;
            padding:5px;
        }
/*
        #homeLink{
            float: left;
        }
*/

.btnHeader{
            border:none;
            height:100%;
            position: relative;
            margin-right: 5px;
            width: 15%;
            background-color: #c695c6;
            opacity: 70%;
        }

        .btnHeader:hover{
            opacity: 100%;
            cursor:pointer;
        }